<script src="../../scripts/controllers/logincontroller.js"></script>

<div ng-controller="loginController">        
    <form ng-submit="vm.createPassword()" ng-show="vm.willCreateNewPassword">
        <div class="group">
            <input type="password" ng-model="vm.password"><span class="highlight"></span><span class="bar"></span>
            <label>Senha</label>
        </div>
        <div class="group">
            <input type="password"><span class="highlight"></span><span class="bar"></span>
            <label>Confirmar Senha</label>
        </div>
        <button type="button" class="button buttonBlue">
            Criar Senha
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
    <div ng-hide="vm.willCreateNewPassword">
        <span>Nenhum pedido de criação de senha para o usuário {{vm.userName}}</span>
    </div>
</div>
