<script src="../../scripts/controllers/logincontroller.js"></script>
<img src="../img/loader.gif" id="loading-indicator" ng-show="vm.loading" />
<div>        
    <form ng-submit="vm.createPassword()" ng-show="vm.willCreateNewPassword && !vm.loading">
        <div class="group">
            <input type="password" minlength="7" required ng-model="vm.password"><span class="highlight"></span><span class="bar"></span>
            <label>Senha</label>
        </div>
        <div class="group">
            <input type="password" minlength="7" required><span class="highlight"></span><span class="bar"></span>
            <label>Confirmar Senha</label>
        </div>
        <button type="submit" class="button buttonBlue">
            Criar Senha
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>
    <div ng-hide="vm.willCreateNewPassword || vm.loading">
        <h2>Você não possui nenhum pedido para criar uma nova senha.</h2>
    </div>
</div>
